.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.carousel-card {
    height: 300px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    color: #333;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

img.card-img-top {
    max-height: 100px;
    object-fit: scale-down;
}
.product-price {
    font-size: 22px;
    font-weight: 500;


}

.add-to-cart {
    text-align: right;
}