.navbar-container {
  background-color: #558ed5;
  padding: 0 10px;
}
.navmenu-container{
  display: flex;
  align-items: center;
 
}
.main-nav-container{
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  flex-basis: auto;
}
.categories-menu-wrapper {
  width: 14%;
}
.categories-title {
  padding: 10px;
  background-color: #2866bc;
}
 
.categories-title h2 {
  font-size: 15px;
  text-align: left;
  color: #fff;
  font-weight: 600;
}

.arrow-down {
  float: right;
}

.category-menu-inner {
  background-color: #fff;
  height: 609px;
  position: absolute;
  display: block;
  width: 258px;
  transition: opacity 0.3s ease;
   
}

.category-menu-inner ul li {
  text-align: left;
  padding: 10px;
}
.category-menu-inner ul li a{
    width: 100%;
    color: #000;
    text-decoration: none;
}
.category-menu-inner ul li a:hover {
    color: #FFFF00!important;
    padding-left: 10px;
    transition: all 0.5s ease;
}
.category-menu-inner li:hover{
    background-color: #2866bc;
}

.arrow-right{
    margin-left: auto;
}
.caret-icon{
  color: #FFFF00;
  margin-left: 5px;
  font-size: 12px;
}
.categories-mega-menu {
    width: 480px;
    position: absolute;
    left: 100%;
    background-color: #fff;
    top: 0;
    transition: 0.4s ease;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
}
.categories-mega-menu li{
  font-size: 13px;
  transition: 0.4s ease;

}
.categories-mega-menu li h6{
color: #000;
border-bottom: 1px solid #f3f3f3;
padding-left: 10px;

}
.category-menu-inner ul,
.categories-mega-menu li ul{
  padding-left: 0;
}
.categories-mega-menu li:hover{
  background-color: #fff;
  transition: 0.4s ease;

}
.categories-mega-menu li ul li:hover{
  background-color: #2866bc;
  transition: 0.4s ease;
}
.navmenu-title{
  color: #FFFF00
}
.subcategories-megamenu{
  position: absolute;
  background-color: #fff;
  display: flex;
  top: 117px

}
.subcategories-megamenu-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 0;
  width: auto;
   
}
 
.subcategories-megamenu-container a{
  font-weight: 600;
  padding: 10px 15px;
  color: #000!important;
  font-size: 14px;
 
 
}
.subcategories-megamenu-container li{
  color: grey;
  padding: 10px 15px;
  font-size: 13px;
  border-bottom: 1px solid #f2f2f2;
  
}
.subcategories-megamenu-container a:hover,
li:hover{
 background-color: #2866bc;
 color: #FFFF00!important;
}

@media screen and (min-width:1366px) {
  .main-nav-container{
    width: 75%;
  }
}