/* Header.css */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
    background-color: #041E42;
    color: white;
  }
  
  .header-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation a {
    font-size: 21px;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
}

.top-navigation {
    color: #fff;
}

ol,
ul {
    padding-left: 0rem;
}

/* .nav-link {
    padding: 0 !important;
}

*/

.header_logo {
    width: 140px;
    height: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.nav-items {
    margin-bottom: 0;
}

.nav-items li {

    display: inline-block;
    margin: 0 10px;
    font-size: 21px;
    font-family: 'Alegreya', serif;
}

.nav-items li a {
    color: #fff;
    padding: 4px 4px;
}

.navbaranimation{
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px;
}

.navbaranimation:hover{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
}

.nav-items li a:hover {
    color: #FFFF00;
    text-decoration: none;
}

span#basic-addon1 {
    border-radius: 25px 0 0 25px;
}

.search-box {
    padding: 22px 0 !important;
}

.search-box:focus-visible {
    box-shadow: unset;
    width: 35%;
  }
  .searchbar-select{
    padding: 10px 10px;
    border-radius: 50px 0 0px 50px;
    border: 0;
    background-color: #F3F3F3;
  }
  .search-bar input {
    text-align: center;
    padding: 10px;
    border: 0;
    width: 80%;
  }
  
  .search-icon {
    cursor: pointer;
    background-color: #2866BC;
    padding: 10px 15px;
    border: 0;
    border-radius:  0 50px   50px  0;
  }
  
  .additional-items {
    display: flex;
    align-items:baseline;
  }
  
  .additional-items div {
    margin-left: 10px;
  }
  .account{
    font-size: 18px;
  }
  .header-icon{
    font-size: 20px;
    margin: 0 10px;
  }

  .bubble{
    display: inline-block;
    background-color: #FF0000;
    width: 20px;
    height: auto;   
    border-radius: 10px;
    position: relative;
    top: -15px;
   
    
  }
  .login-links a{
    color: #F3F3F3;
    text-decoration: none;
    font-size: 18px;
  }
  .currency-selector{
    margin: 0 5px;
  }
  .currency-selector select{
    background-color: transparent;
    border: 0;
    color: #fff;
  }
  .currency-selector option{
    color: #000;
  }

  @media screen and (max-width:480px) {
    .header{
        flex-direction: column;
    }
    .search-bar{
       width: 100%;
    }
    .navigation, .search-bar{
        margin: 10px 0;
    }
  }
  .account-select {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 21px;
    width: 100px;
  }
  .account-select option{
    color: #000;
    
  }