/* ///////////////  Header Css Start //////////////// */
.navmenu {
  color: #f9fb08
}

.category_main_dropdownn{
  width: 270px;
  border: 1px solid #fff;
  background-color: #fff;
}

.category_main_dropdownn_hover {
  background-color: white;
  color: black;
}

.category_main_dropdownn_hover:hover {
  background-color: #558ed5;
  color: yellow;
}

.category_main_dropdownn_image {
  height: 1rem;
}

.enginaring_product_main_dropdownn_icon {
  margin-left: 120px;
 }

.fashion_style_product_main_dropdownn_icon {
  margin-left: 95px;
 }

 .art_carft_product_main_dropdownn_icon {
  margin-left: 118px;
 }

 .cell_phones_product_main_dropdownn_icon {
  margin-left: 55px;
 }

 .gadgets_product_main_dropdownn_icon {
  margin-left: 143px;
 }

 .jewelry_product_main_dropdownn_icon {
  margin-left: 75px;
 }

 .health_product_main_dropdownn_icon {
  margin-left: 153px;
 }

 .sports_product_main_dropdownn_icon {
  margin-left: 80px;
 }

.enginaring_dropdown {
  width: 550px;
  height: 670px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.fashion_style_dropdown {
  width: 550px;
  height: 670px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.product_dropdownn_size {
  font-size: 14px;
  line-height: 10px;
  color: #646464;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

.art_carf_dropdown {
  width: 280px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.dropdownn_common_product_size{
  font-size: 18px;
  line-height: 10px;
  color: #646464;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

.call_phones_dropdown {
  width: 280px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.dropdownn_common_product_size{
  font-size: 18px;
  line-height: 10px;
  color: #646464;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

.gadgets_dropdown {
  width: 280px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.dropdownn_common_product_size{
  font-size: 18px;
  line-height: 10px;
  color: #646464;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

.Jewelry_dropdown {
  width: 550px;
  height: 470px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.health_dropdown {
  width: 280px;
  height: 390px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}

.dropdownn_common_product_size{
  font-size: 18px;
  line-height: 10px;
  color: #646464;
  text-decoration: none;
  font-family: "Alegreya", serif;
}

.sports_training_dropdown {
  width: 570px;
  height: 370px;
  border: 1px solid #fff;
  background-color: white;
  overflow: auto;
  font-family: "Alegreya", serif;
}


.navbar-nav {
  display: flex;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.dropend .dropdown-toggle {
  color: black;
  font-weight: 400;
}


.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}

.dropdown-item {
  color: #333;
  padding: 8px;
  font-size: 15px;
}

.dropdown-item:hover {
  background-color: #558ed5;
  color: yellow;
}

.dropdown .dropdown-menu {
  display: none;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
  display: block;
  padding: 0px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 0px;
}

@media screen and (min-width: 1200px) {
  .dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }

  .FORMWIDTH {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .dropend:hover>.dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}