
.Company_logo{
    margin-left: 30px;
    padding-left: 30px;
}

.Company_logo{
    height: 3rem;
}

.search_input_bar{
    width: 43%;
    font-family: 'Alegreya', serif;
}

.input-group{
    border-radius: 50px;
    height: 46px;
}

.navigation_hover{
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    border: 1px solid #041E42;
    font-family: 'Alegreya', serif;
}

.navigation_hover:hover{
    color: #fff;
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Alegreya', serif;
}


@media only screen and (max-width: 980px) {

    .search_input_bar{
        width: 100%;
    }

}