.FONT {
    font-family: 'Alegreya', serif;
    font-weight: 400;
}

.FontFamilyMontSerret {
    font-family: 'Montserrat', sans-serif;
}

.ROBOTOfontFamily {
    font-family: 'Roboto', sans-serif;
}

/* //////////  Footer Icon Css Start   //////////////// */
.FOOTERSocialIcon {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 12px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 14px;
    transition: all 0.3s ease-in;
    display: inline-block;
}

.logo {
    border-radius: 50px;
    padding: 1rem;
    border: 1px solid #aaaaaa;
    background: #f6f7f9;
    margin-right: 8px;
}


/* //////////  Footer Icon Css End   //////////////// */