


.FONTFamily{
    font-family: 'Roboto', sans-serif;
}

.FONTFamily{
    font-family: 'Alegreya', serif;
    font-weight: 400;
}

.SIGNBUTTON {
    background-color: #FFD814;
    border: 1px solid #FFD814;
    border-radius: 10px 10px 10px 10px;
}

.SIGNBUTTON:hover {
    color: black;
    background-color: #FFD114;   
}

.CREATEACCOUNT {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.CREATEACCOUNT:hover {
    color: black; 
    background-color: rgb(250,250,250);  
}


.FORGETPASS{
    margin-left: 120px;
}

.HoVerDrop{
    cursor: pointer;
}

.HoVerDrop:hover{
    text-decoration: underline;
}

.SECTIONLASTHoVerDrop{
    cursor: pointer;
    color: #0066c0;
    font-size: 14px;
    line-height: 1.465;
    font-weight: 600;
}

.SECTIONLASTHoVerDrop:hover{
    text-decoration: underline;
}





.divider {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /* To show the lines on right 
  and left sides of the text */
  .divider::after,
  .divider::before {
    content: "";
    border: 1px solid #e7e7e7;
    flex: 1;
  }
  
  /* Space on left and right sides of text */
  .divider:not(:empty)::before {
    margin-right: 0.25em;
  }
  
  .divider:not(:empty)::after {
    margin-left: 0.25em;
  }